.main {
  background-image: url("/img/bg_mulch.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 55px;
  margin-bottom: 30spx;
  background: var(--trans_black2);
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  padding: 5px;
}

.imgDiv {
  padding: 5px;
  background: var(--trans_black2);
  width: fit-content;
  margin: 5px auto;
  border-radius: 15px;
}

.imgDiv svg {
  font-size: 75px;
}

.gridContainer {
  width: 708px;
  margin: 25px auto;
}

.sqftCell {
  background: var(--mib_gold);
  margin-left: -8px;
  margin-right: -8px;
  font-weight: bold;
}

.home,
.home:active,
.home:visited,
.home:focus {
  color: #fff;
  float: right;
  margin-right: 25px;
  border-radius: 15px;
}

.home svg {
  font-size: 40px;
}

.home:hover {
  background: #fff;
  color: var(--mib_brown);
}

@media only screen and (max-width: 768px) {
  .gridContainer {
    width: 100%;
    padding: 0 5px;
    margin: 10px 0 30px 0;
  }
}
