.productsView {
  background: var(--mib_charcoal);
  position: relative;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 55px;
  margin-bottom: 25px;
}

.servingLink {
  color: var(--mib_gold);
  margin: 15px 0 15px 0;
}

.servingLink a:hover {
  color: var(--mib_gold);
  text-decoration: underline;
}

.productList {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.productImg {
  height: 220px;
  border-radius: 15px;
}

.productCard {
  width: 400px;
  margin: 15px;
  background: var(--trans_black);
  cursor: pointer;
  border: transparent solid 2px;
  border-radius: 15px;
}

.productCard:hover,
.productCard.selected {
  background: var(--mib_gold);
  border: var(--mib_gold) solid 2px;
}

.purchaseInput {
  transition: height 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  visibility: hidden;
  height: 0;
}

.productCard.selected .purchaseInput {
  visibility: visible;
  height: 70%;
  bottom: 0;
}

.input {
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  width: 200px;
  margin: auto;
}

.button,
.button:active,
.button:visited,
.button:focus {
  background: var(--mib_gold);
  color: var(--mib_charcoal);
  border: 2px solid var(--mib_charcoal);
  border-radius: 15px;
  padding: 10px 15px;
  margin: 15px 25px;
}

.button:hover {
  margin-top: 15px;
  background: var(--mib_charcoal);
  color: var(--mib_gold);
  border: 2px solid var(--mib_gold);
}
