.main {
  background-color: var(--mib_brown);
  position: relative;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 65px;
  margin-bottom: 30spx;
}

.imgDiv svg {
  margin-top: 35px;
  font-size: 100px;
}

.locations {
  margin-top: 55px;
}

.state {
  text-decoration: underline;
  font-size: 35px;
  font-weight: bold;
}

.city {
  margin: 25px;
  font-size: 25px;
}
