.main {
  background-color: var(--mib_blue);
  position: relative;
  padding: 100px 0;
  color: var(--mib_charcoal);
  text-align: center;
}

.title {
  font-size: 55px;
  margin-bottom: 30spx;
  text-decoration: underline;
}

.expectRow {
  padding: 0 150px;
  font-size: x-large;
  font-weight: 400;
  margin: 150px 0;
}

.expectRow + hr {
  height: 5px;
  color: var(--mib_charcoal);
  width: 50%;
  margin: auto;
  border-radius: 50px;
}

.imgCol svg {
  color: var(--mib_gold);
  font-size: 150px;
  vertical-align: center;
}

.expText {
  border: 5px var(--mib_gold) inset;
  border-radius: 15px;
  line-height: 50px;
  height: fit-content;
}

.offsetCol {
  order: 6;
}

@media only screen and (max-width: 768px) {
  .expectRow {
    font-size: large;
    padding: 0 10px;
    margin: 25px 0;
  }

  .imgCol svg {
    margin: 25px auto;
  }

  .expText {
    line-height: 30px;
  }

  .offsetCol {
    order: unset;
  }
}
