.hero {
  position: relative;
  height: 100vh;
  background-color: #171717;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

.videoContainer {
  position: relative;
  height: 100%;
  background-color: #171717;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 64px;
  font-family: var(--space_font);
  font-size: 3vw;
  margin-right: 64px;
  margin-left: 64px;
  background-color: var(--trans_black);
  padding: 20px 15px;
  border-radius: 25px;
}

@media only screen and (max-width: 768px) {
  .caption {
    font-size: 8vw;
    margin: 0 15px;
    bottom: 25px;
  }
}
