.sideNav {
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--mib_blue);
  overflow-x: hidden;
  color: var(--mib_charcoal);
  cursor: pointer;
}

.logoLink {
  background-color: var(--mib_charcoal);
  border-bottom: var(--mib_gold) 2px solid;
}

.logoLink img {
  width: 200px;
}

.sideNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: var(--mib_charcoal);
  font-family: "Anek Malayalam", sans-serif;
}

.sideNav a:hover {
  color: white;
  background: var(--mib_charcoal);
}

.main {
  font-size: 28px;
  padding: 40px 40px 0 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}
