.imgModal :global .modal-content {
  background-color: var(--mib_blue);
  color: var(--mib_blue_gray);
  border: var(--mib_blue_gray) solid 4px;
  border-radius: 25px;
  display: flex;
}

.modalBtn,
.modalBtn:active,
.modalBtn:visited,
.modalBtn:focus {
  background: var(--mib_gold);
  color: var(--mib_blue_gray);
  border: 2px solid var(--mib_blue_gray);
  border-radius: 25px;
  padding: 10px 15px;
  margin: 15px 25px;
}

.modalBtn:hover {
  margin-top: 15px;
  background: var(--mib_blue_gray);
  color: var(--mib_gold);
  border: 2px solid var(--mib_gold);
}

.carousel img {
  max-height: 65vh;
}
