.imgModal :global .modal-content {
  background-color: var(--mib_blue);
  color: var(--mib_blue_gray);
  max-height: 80vh;
  border: var(--mib_blue_gray) solid 4px;
  border-radius: 25px;
}

.carousel img {
  max-height: 50vh;
}
