.main {
  background: var(--mib_blue);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}

.form {
  background: #fff;
  padding: 2% 4%;
  border: 3px solid var(--mib_charcoal);
  margin: auto;
}

.form,
.form input {
  border-radius: 15px;
}

.form button {
  margin: auto;
  display: flex;
}

.imgDiv {
  margin-bottom: 25px;
  text-align: center;
}

.spinnerDiv {
  margin: 10px 0;
  visibility: hidden;
}

.spinnerDiv.loading {
  visibility: visible;
}

.spinner {
  margin-right: 5px;
  color: var(--mib_gold);
}
