:root {
  --mib_blue: #bfd9d7;
  --mib_blue_gray: #353745;
  --mib_gold: #ae9152;
  --trans_black: rgba(0, 0, 0, 0.43);
  --trans_mib_gold: rgba(174, 145, 82, 0.35);
  --trans_mib_blue: rgba(191, 217, 215, 0.35);
}

html,
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  min-width: 320px;
  background-color: #000;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
